*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
}

header{
    width: 100%;
    text-align: center;
    font: 125px;
    padding: 30px;
}
/* 
div.background {
    background-image: url("../images/HarryPotter_WB_F5_DumbledoresArmyGroupImage_Promo_080615_Land.jpg");
    opacity: 0.4;
    background-size:100%; 
} */

@media screen and (max-width:640px){
	.container{
		width: 500px;
		margin-top: 200px;
		size: 200%;
    }
}	